.content
  .side
    .side__user
      %h5= current_user.name
      .side__user--icon
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_registration_path do
          %i.fa.fa-cog
    .side__group
      = render @groups


  .main
    .main__header
      .main__header--left
        %h2= @group.name
        %p.main__header--users
        = render @users
      .main__header--right
        = link_to edit_group_path(@group) do
          .main__header--right__link
            Edit

    .main__body
      %ul.message-list
        = render @messages
    .main__footer
      = form_for [@group, @message], html: { class: "main__footer--body" } do |f|
        = f.text_field :body, placeholder: "type a message"
        %label.footer--file
          -# = f.file_field :image
          %i.fa.fa-image
        = f.submit "Send", class: "submit"
